---
title: "Prototype Pill Identification and Verification using Deep Learning"
industry: "Med Tech"
companySize: "Startup"
location: "Seattle"
cost: "$15, 000"
year: "2019"
time: "6 weeks"
image: "/assets/portfolio-18.jpg"
fullImage: "/assets/full-size/portfolio/portfolio-18.jpeg"
ribbon: "/assets/portfolio-ribbon-not-acquired.png"
tags: ["Deep Learning", "Computer Vision"]
order: 18
---
