---
import ClientLogoGrid from '../components/home/ClientLogoGrid.astro';
import ConsultationSection from '../components/home/ConsultationSection.astro';
import HomeHero from '../components/home/HomeHero.astro';
import OriginStorySection from '../components/home/OriginStorySection.astro';
import PromoPanel from '../components/home/PromoPanel.astro';
import RevelationSection from '../components/home/RevelationSection.astro';
import StatGrid from '../components/home/StatGrid.astro';
import PageLayout from '../layouts/PageLayout.astro';
import { site } from '../data/site';
---

<PageLayout
  title={site.title}
  description={site.description}
  canonical={site.canonicalUrl}
  image={site.imageUrl}
  bodyClass=""
  bodyId="top"
  headerHomeHref="#top"
  footerHomeHref="#top"
>
  <main>
    <HomeHero />
    <OriginStorySection />
    <RevelationSection />
    <StatGrid />
    <ConsultationSection />
    <ClientLogoGrid />
    <PromoPanel />
  </main>
</PageLayout>
