---
import { getCollection } from 'astro:content';
import SubHero from '../components/common/SubHero.astro';
import PresentationGrid from '../components/presentations/PresentationGrid.astro';
import PresentationVideoLightbox from '../components/presentations/PresentationVideoLightbox.astro';
import PageLayout from '../layouts/PageLayout.astro';

const presentationEntries = await getCollection('presentations');
const presentations = [...presentationEntries]
  .sort((left, right) => left.data.order - right.data.order)
  .map(({ data }) => ({
    title: data.title,
    image: data.image,
    href: data.videoSrc ?? data.href,
    date: data.date
  }));
---

<PageLayout>
  <main class="subpage subpage-presentations">
    <SubHero
      title="Presentations"
      intro="I've given a variety of presentations on topics related to artificial intelligence at venues ranging from local Meetup groups to international conferences. Check out some of the ones I have videos for here."
      cta={{ label: 'Request a Presentation', href: '/contact-me' }}
      variant="presentations"
    />
    <section class="sub-section">
      <PresentationGrid presentations={presentations} />
    </section>
    <PresentationVideoLightbox />
  </main>
</PageLayout>
