---
import ResumeViewer from '../components/resume/ResumeViewer.astro';
import { simplePages } from '../data/simplePages';
import PageLayout from '../layouts/PageLayout.astro';

const page = simplePages.resume;
const resumePdfUrl = '/assets/full-size/resume/Bradley_Arsenault_Resume_2025.pdf';
---

<PageLayout>
  <main class="subpage subpage-resume">
    <ResumeViewer title={page.title} resumePdfUrl={resumePdfUrl} />
  </main>
</PageLayout>
